@import "../style.scss";

$topPadding: 3px;

.DropDown {
  font-family: $font;
  font-size: 13px;
  box-sizing: border-box;
  box-shadow: none;
  background: #fff;
  border-radius: 3px;
  color: #000;
  outline: none;
  appearance: none;
  margin: 0;
  padding: $topPadding 4px 0 4px;
  display: inline-block;
  position: relative;
  border: 1px solid #d3d9de;

  &--shown.DropDown--top {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &--shown.DropDown--bottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--single {
    white-space: nowrap;
  }

  input {
    font-family: $font;
    font-size: 13px;
    height: 22px;
    margin: 0 0 $topPadding 0;
    padding: 0 0 0 3px;
    outline: none;
    appearance: none;
    color: #000;
    border: none;
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    min-width: 120px;
    vertical-align: middle;
    width: calc(100% - 26px - 4px);

    &::-webkit-input-placeholder {
      transition: color 0.2s ease;
      color: #828282;
    }
    &::-moz-placeholder {
      transition: color 0.2s ease;
      color: #828282;
    }
    &:-ms-input-placeholder {
      transition: color 0.2s ease;
      color: #828282;
    }
    &:-moz-placeholder {
      transition: color 0.2s ease;
      color: #828282;
    }
  }

  &__wide-input {
      width: calc(100% - 66px);
      box-sizing: border-box;
  }

  &__zero-height-input {
    height: 0;
    border: none;
    position: absolute;
    opacity: 0;
  }

  &__list {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    display: none;
    left: -1px;
    right: -1px;
    z-index: 1000;
    background: #FFF;
    border-radius: 3px;
    border: 1px solid #d3d9de;
    max-height: 450px;
    overflow-y: auto;
  }

  &--shown &__list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &--top &__list {
    top: auto;
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
  }

  &--bottom &__list {
    top: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
  }

  &__item {
    max-width: 100%;
    word-break: break-word;
    line-height: 16px;
    padding: 6px 9px 8px 9px;
    cursor: pointer;

    &--hover,&--active {
      background-color: #e7edf2;
    }
  }

  &--single &__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__selected-item {
    background-color: #E5EBF1;
    border-radius: 2px;
    display: inline-block;
    color: #55677D;
    font-size: 13px;
    line-height: 15px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: $topPadding;
    padding-right: 25px;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;

    &--single {
      background-color: transparent !important;
      color: #000;
      padding-right: 8px;
      cursor: pointer;
      max-width: calc(100% - 30px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__remove {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    cursor: pointer;
    outline: 0;
    border:none;
    appearance: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTQtNC41aDE5djE5SC00eiIvPjxwYXRoIGQ9Ik0xLjU0MiA4Ljk1OGw3LjkxNi03LjkxNk05LjQ1OCA4Ljk1OEwxLjU0MiAxLjA0MiIgc3Ryb2tlPSIjOTJBMEIxIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9nPjwvc3ZnPg==');
  }

  &__icon {
    width: 26px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: right;
    vertical-align: top;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h11v6H0z'/%3E%3C/defs%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h16v16H0z'/%3E%3Cg transform='translate(2.5 5)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath stroke='%23B0B4B8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' mask='url(%23b)' d='M.75.75l4.75 4.5 4.75-4.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
}