.FormLayout {
  &--grow {
    flex-grow: 1;
  }

  &__container {

  }

  &__row {
    padding: 14px 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:empty {
      display: none;
    }

    .Input, .Textarea, .DropDown, .DatePicker {
      width: 100%;
    }
  }

  &__row-top {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 9px;
    font-weight: 500;
  }

  &__row-bottom {
    font-size: 13px;
    line-height: 16px;
    padding-top: 9px;
  }

  &__row--s-error {
    .Input {
      border-color: #E64646;
      background: #FAEBEB;
      color: #E64646;

      &::placeholder {
        color: #E64646;
      }
    }

    .Textarea {
      border-color: #E64646;
      background: #FAEBEB;
      color: #E64646;

      &::placeholder {
        color: #E64646;
      }
    }

    .FormLayout__row-top, .FormLayout__row-bottom {
      color: #E64646;
    }
  }
}