@import "../style.scss";
.Input {
  font-family: $font;
  font-size: 13px;
  height: 30px;
  margin: 0;
  padding: 5px 9px 7px;
  outline: none;
  appearance: none;
  color: #000;
  border: 1px solid #d3d9de;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
  box-sizing: border-box;

  &:disabled {
    opacity: .45;
  }

  &::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
  }
  &::-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
  }
  &:-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
  }
  &:-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
  }

  &:focus:not(.Input--mobile) {
    border-color: #c9d0d6;
    outline: none;

    &::-webkit-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB;
    }
    &::-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB;
    }
    &:-ms-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB;
    }
    &:-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB;
    }
  }

  &--mobile {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 15px;
    height: auto;
    padding: 10px;
    border: 1px solid #CACED4;
    border-radius: 8px;

    &::-webkit-input-placeholder {
      transition: none;
      color: #909499;
    }
    &::-moz-placeholder {
      transition: none;
      color: #909499;
    }
    &:-ms-input-placeholder {
      transition: none;
      color: #909499;
    }
    &:-moz-placeholder {
      transition: none;
      color: #909499;
    }

    &:focus {
      outline: none;

      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
    }
  }
}
