.Button {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 7px 16px 8px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  background-color: #5181b8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none; }
  .Button:hover {
    text-decoration: none; }
  .Button:active:not(.Button--mobile) {
    padding-top: 8px;
    padding-bottom: 7px; }
  .Button:disabled {
    opacity: .5;
    cursor: default; }
  .Button--mobile {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 13px;
    padding: 8px 16px; }
  .Button--default:hover:not(:disabled):not(.Button--mobile):not(.Button--loading) {
    background-color: #5b88bd; }
  .Button--default:active:not(:disabled):not(.Button--loading) {
    background-color: #4872a3; }
  .Button--secondary {
    color: #55677d;
    background-color: #e5ebf1; }
    .Button--secondary:hover:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      background-color: #dfe6ed; }
    .Button--secondary:active:not(:disabled):not(.Button--loading) {
      background-color: #dae2ea; }
  .Button--transparent {
    color: #2a5885;
    background-color: transparent; }
    .Button--transparent:hover:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      background-color: #e5ebf1; }
    .Button--transparent:active:not(:disabled):not(.Button--loading) {
      background-color: #e5ebf1; }
  .Button--loading {
    padding: 8px 16px 7px;
    pointer-events: none; }

.WaitDots {
  height: 12.5px;
  line-height: 10.5px;
  display: inline-block;
  vertical-align: middle; }
  .WaitDots .dot {
    transform: translateZ(0);
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-name: dot-animation;
    background: #FFF;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px; }
  .WaitDots .dot1 {
    animation-delay: 0ms; }
  .WaitDots .dot2 {
    animation-delay: 180ms; }
  .WaitDots .dot3 {
    animation-delay: 360ms; }
  .WaitDots--blue .dot {
    background: #6287AE; }

@keyframes dot-animation {
  0% {
    opacity: 0.2; }
  30% {
    opacity: 1; }
  to {
    opacity: 0.2; } }

.Checkbox {
  display: inline-block;
  user-select: none; }
  .Checkbox:hover:not(.Checkbox--mobile) .Checkbox__input:not(:disabled) + .Checkbox__text:before {
    background-color: #F2F4F8; }
  .Checkbox:hover:not(.Checkbox--mobile) .Checkbox__input:checked:not(:disabled) + .Checkbox__text:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235B88BD%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }
  .Checkbox--mobile .Checkbox__text {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px; }
  .Checkbox__input {
    display: none; }
    .Checkbox__input:checked + .Checkbox__text:before {
      border: none;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235181B8%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0; }
    .Checkbox__input:disabled + .Checkbox__text {
      opacity: .45;
      cursor: default; }
  .Checkbox__text {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    color: #000000; }
    .Checkbox__text:before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 2px;
      margin-right: 8px;
      vertical-align: top;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-sizing: border-box; }

.Input {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  height: 30px;
  margin: 0;
  padding: 5px 9px 7px;
  outline: none;
  appearance: none;
  color: #000;
  border: 1px solid #d3d9de;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
  box-sizing: border-box;
  user-select: none; }
  .Input:disabled {
    opacity: .45; }
  .Input::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #828282; }
  .Input::-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282; }
  .Input:-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #828282; }
  .Input:-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282; }
  .Input:focus:not(.Input--mobile) {
    border-color: #c9d0d6;
    outline: none; }
    .Input:focus:not(.Input--mobile)::-webkit-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }
    .Input:focus:not(.Input--mobile)::-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }
    .Input:focus:not(.Input--mobile):-ms-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }
    .Input:focus:not(.Input--mobile):-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }
  .Input--mobile {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px;
    height: auto;
    padding: 5px 4px;
    border: 1px solid #c1c9d4;
    border-radius: 4px; }

.Link {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-decoration: none;
  color: #2A5885;
  border: 0;
  box-sizing: border-box;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .Link:hover:not(:disabled):not(.Link--mobile) {
    text-decoration: underline; }
  .Link:disabled {
    cursor: default; }
  .Link--medium {
    font-weight: 500; }
  .Link--bold {
    font-weight: 600; }
  .Link--mobile {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px; }

.Radio {
  display: inline-block;
  user-select: none; }
  .Radio:hover:not(.Radio--mobile) .Radio__input:not(:disabled) + .Radio__text:before {
    background-color: #F2F4F8; }
  .Radio--mobile .Radio__text {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px; }
  .Radio__input {
    display: none; }
    .Radio__input:checked + .Radio__text:before {
      border-color: #5181B8; }
    .Radio__input:checked + .Radio__text:after {
      opacity: 1; }
    .Radio__input:disabled + .Radio__text {
      opacity: .45;
      cursor: default; }
  .Radio__text {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 19px;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    color: #000000; }
    .Radio__text:before {
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 50%;
      background-color: #FFFFFF;
      box-sizing: border-box; }
    .Radio__text:after {
      position: absolute;
      top: 5px;
      left: 4px;
      display: inline-block;
      width: 7px;
      height: 7px;
      content: '';
      opacity: 0;
      border-radius: 50%;
      background-color: #5181B8; }

