.WaitDots__1MqZT {
  height: 12.5px;
  line-height: 10.5px;
  display: inline-block;
    vertical-align: middle;
}

.WaitDots__1MqZT .dot__1c85W {
    transform: translateZ(0);
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-name: dot-animation__1-jpn;
    background: #FFF;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.WaitDots__1MqZT .dot1__2J_hO {
    animation-delay: 0ms;
}

.WaitDots__1MqZT .dot2__6vIvo {
    animation-delay: 180ms;
}

.WaitDots__1MqZT .dot3__1QwAn {
    animation-delay: 360ms;
}

.WaitDots--blue__2IvQp .dot__1c85W {
    background: #6287AE;
}

@keyframes dot-animation__1-jpn {
  0% {
      opacity: 0.2;
  }
  30% {
      opacity: 1;
  }
  to {
      opacity: 0.2;
  }
}

.Button__27A_5 {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 7px 16px 8px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  background-color: #5181b8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none; }

.Button__27A_5:visited {
    color: #fff;
}

.Button__27A_5:hover {
    text-decoration: none; }

.Button__27A_5:active:not(.Button--mobile__zvJbI) {
    padding-top: 8px;
    padding-bottom: 7px; }

.Button__27A_5:disabled {
    opacity: .5;
    cursor: default; }

.Button--mobile__zvJbI {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 14px;
    border-radius: 8px; }

.Button--mobile__zvJbI.Button--default__3Xagt:active {
    background-color: #4872a3;
}

.Button--mobile__zvJbI.secondary__26O0b:active {
    background-color: #dae2ea;
}

.Button--mobile__zvJbI.Button--transparent__1AXJe {
      color: #306096; }

.Button--mobile__zvJbI.Button--transparent__1AXJe:active {
        color: #4872A3;
        background-color: transparent; }

.Button--mobile__zvJbI.Button--loading__2mJ-2 {
    padding: 9px 16px;
}

.Button--default__3Xagt:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):hover {
    background-color: #5b88bd; }

.Button--default__3Xagt:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):active {
    background-color: #4872a3; }

.Button--secondary__29JKy {
    color: #55677d;
    background-color: #e5ebf1; }

.Button--secondary__29JKy:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):hover {
      background-color: #dfe6ed; }

.Button--secondary__29JKy:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):active {
      background-color: #dae2ea; }

.Button--transparent__1AXJe {
    color: #2a5885;
    background-color: transparent; }

.Button--transparent__1AXJe:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):hover {
      background-color: #e5ebf1; }

.Button--transparent__1AXJe:not(:disabled):not(.Button--mobile__zvJbI):not(.Button--loading__2mJ-2):active {
      background-color: #e5ebf1; }

.Button--loading__2mJ-2 {
    padding: 8px 16px 7px;
    pointer-events: none; }

.Checkbox__XIBW0 {
  display: inline-block;
  user-select: none; }

.Checkbox__XIBW0:hover:not(.Checkbox--mobile__3oHef) .Checkbox__input__1Peh4:not(:disabled) + .Checkbox__text__2_ftt:before {
    background-color: #F2F4F8; }

.Checkbox__XIBW0:hover:not(.Checkbox--mobile__3oHef) .Checkbox__input__1Peh4:checked:not(:disabled) + .Checkbox__text__2_ftt:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235B88BD%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.Checkbox--mobile__3oHef .Checkbox__text__2_ftt {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px; }

.Checkbox--mobile__3oHef .Checkbox__text__2_ftt:before {
      width: 20px;
      height: 20px;
      margin-top: 0;
      margin-right: 14px;
      border: none;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20fill%3D%22%23FFF%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%226%22/%3E%3Cpath%20d%3D%22M5.128%200h9.744c1.783%200%202.43.186%203.082.534.652.349%201.163.86%201.512%201.512.348.652.534%201.299.534%203.082v9.744c0%201.783-.186%202.43-.534%203.082a3.635%203.635%200%200%201-1.512%201.512c-.652.348-1.299.534-3.082.534H5.128c-1.783%200-2.43-.186-3.082-.534a3.635%203.635%200%200%201-1.512-1.512C.186%2017.302%200%2016.655%200%2014.872V5.128c0-1.783.186-2.43.534-3.082A3.635%203.635%200%200%201%202.046.534C2.698.186%203.345%200%205.128%200zm-.564%202c-.892%200-1.215.093-1.54.267a1.81%201.81%200%200%200-.757.756c-.174.326-.267.65-.267%201.54v10.873c0%20.892.093%201.215.267%201.54.174.327.43.583.756.757.326.174.65.267%201.54.267h10.873c.892%200%201.215-.093%201.54-.267a1.81%201.81%200%200%200%20.757-.756c.174-.326.267-.65.267-1.54V4.563c0-.892-.093-1.215-.267-1.54a1.817%201.817%200%200%200-.756-.757c-.326-.174-.65-.267-1.54-.267H4.563L4.564%202z%22%20fill%3D%22%23C4C8CC%22/%3E%3C/g%3E%3C/svg%3E") no-repeat 0;
      background-size: cover; }

.Checkbox__input__1Peh4 {
    display: none; }

.Checkbox__input__1Peh4:checked + .Checkbox__text__2_ftt:before {
      border: none;
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235181B8%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0;
      background-size: cover; }

.Checkbox__input__1Peh4:disabled + .Checkbox__text__2_ftt {
      opacity: .45;
      cursor: default; }

.Checkbox__text__2_ftt {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    color: #000000; }

.Checkbox__text__2_ftt:before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 2px;
      margin-right: 8px;
      vertical-align: top;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-sizing: border-box; }

.Checkbox__text__2_ftt:empty:before {
    margin-right: 0;
    margin-top: 0;
    display: block;
}

.DropDown__1NojE {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    box-shadow: none;
    background: #fff;
    border-radius: 2px;
    color: #000;
    outline: none;
    appearance: none;
    margin: 0;
    padding: 4px 4px 0 4px;
    display: inline-block;
    min-width: 300px;
    position: relative;
    border: 1px solid #d3d9de;
}

.DropDown__1NojE input {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 22px;
    height: 22px;
    margin: 0 0 4px 0;
    padding: 0 0 0 3px;
    outline: none;
    appearance: none;
    color: #000;
    border: none;
    background: #fff;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    min-width: 120px;
    vertical-align: middle;
}

.DropDown__1NojE input::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.DropDown__1NojE input::-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.DropDown__1NojE input:-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.DropDown__1NojE input:-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.DropDown__list__3cHeD {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    z-index: 1000;
    background: #FFF;
    border-radius: 2px;
    border: 1px solid #d3d9de;
    max-height: 450px;
    overflow: auto;
}

.DropDown__item__2MmX7 {
    max-width: 100%;
    word-break: break-word;
    padding: 10px 15px;
    cursor: pointer;
}

.DropDown__item__2MmX7:hover, .DropDown__item--active__1QA_i {
    background-color: #d3d9de;
}

.DropDown__selected-item__OzUbB {
    background-color: #E5EBF1;
    border-radius: 2px;
    display: inline-block;
    color: #55677D;
    font-size: 13px;
    line-height: 15px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 4px;
    padding-right: 25px;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 4px;
}

.DropDown__remove__olndH {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -11px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    cursor: pointer;
    outline: 0;
    border: none;
    appearance: none;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNLTQtNC41aDE5djE5SC00eiIvPjxwYXRoIGQ9Ik0xLjU0MiA4Ljk1OGw3LjkxNi03LjkxNk05LjQ1OCA4Ljk1OEwxLjU0MiAxLjA0MiIgc3Ryb2tlPSIjOTJBMEIxIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9nPjwvc3ZnPg==");
}

.Input__2WBTq {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  height: 30px;
  margin: 0;
  padding: 5px 9px 7px;
  outline: none;
  appearance: none;
  color: #000;
  border: 1px solid #d3d9de;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
    box-sizing: border-box;
}

.Input__2WBTq:disabled {
    opacity: .45; }

.Input__2WBTq::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #828282; }

.Input__2WBTq::-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282; }

.Input__2WBTq:-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #828282; }

.Input__2WBTq:-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282; }

.Input__2WBTq:focus:not(.Input--mobile__1d2SG) {
    border-color: #c9d0d6;
    outline: none; }

.Input__2WBTq:focus:not(.Input--mobile__1d2SG)::-webkit-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }

.Input__2WBTq:focus:not(.Input--mobile__1d2SG)::-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }

.Input__2WBTq:focus:not(.Input--mobile__1d2SG):-ms-input-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }

.Input__2WBTq:focus:not(.Input--mobile__1d2SG):-moz-placeholder {
      transition: color 0.2s ease;
      color: #B8B9BB; }

.Input--mobile__1d2SG {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 15px;
    height: auto;
    padding: 10px;
    border: 1px solid #CACED4;
    border-radius: 8px; }

.Input--mobile__1d2SG::-webkit-input-placeholder {
      transition: none;
      color: #909499; }

.Input--mobile__1d2SG::-moz-placeholder {
      transition: none;
      color: #909499; }

.Input--mobile__1d2SG:-ms-input-placeholder {
      transition: none;
      color: #909499; }

.Input--mobile__1d2SG:-moz-placeholder {
      transition: none;
      color: #909499; }

.Input--mobile__1d2SG:focus {
      outline: none; }

.Input--mobile__1d2SG:focus::-webkit-input-placeholder {
        color: transparent; }

.Input--mobile__1d2SG:focus::-moz-placeholder {
        color: transparent; }

.Input--mobile__1d2SG:focus:-ms-input-placeholder {
        color: transparent; }

.Input--mobile__1d2SG:focus:-moz-placeholder {
        color: transparent; }

.Link__LmySN {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-decoration: none;
  color: #2A5885;
  border: 0;
  box-sizing: border-box;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.Link__LmySN:hover:not(:disabled):not(.Link--mobile__1mpkn) {
    text-decoration: underline; }

.Link__LmySN:disabled {
    cursor: default; }

.Link--medium__nr-Jx {
    font-weight: 500; }

.Link--bold__ouM7D {
    font-weight: 600; }

.Link--mobile__1mpkn {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px; }

.ModalDialog__3dJJf {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.ModalDialog__box__3qRRc {
    padding: 5px 0 80px;
}

.ModalDialog__window__2nmbZ {
    margin: 0 auto;
    min-width: 150px;
    max-width: 500px;
}

.ModalDialog__header__6T9fT {
    background-color: #5B88BD;
    border-radius: 4px 4px 0 0;
    height: 54px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    padding: 19px 25px;
    box-sizing: border-box;
    position: relative;
    cursor: default;
}

.ModalDialog__close__2LQK0 {
    top: 0;
    right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS40MDQgMTAuMTMyYS45NzcuOTc3IDAgMCAwLS4wMDUgMS40bC4wNy4wNjlhLjk4NS45ODUgMCAwIDAgMS4zOTktLjAwNUw2IDcuMzM2bDQuMTMyIDQuMjZhLjk3Ny45NzcgMCAwIDAgMS40LjAwNWwuMDY5LS4wN2EuOTg1Ljk4NSAwIDAgMC0uMDA1LTEuMzk5TDcuMzM2IDZsNC4yNi00LjEzMmEuOTc3Ljk3NyAwIDAgMCAuMDA1LTEuNEwxMS41My40YS45ODUuOTg1IDAgMCAwLTEuMzk5LjAwNUw2IDQuNjY0IDEuODY4LjQwNWEuOTc3Ljk3NyAwIDAgMC0xLjQtLjAwNUwuNC40N2EuOTg1Ljk4NSAwIDAgMCAuMDA1IDEuMzk5TDQuNjY0IDZsLTQuMjYgNC4xMzJ6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii41Ii8+PC9zdmc+");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    width: 54px;
    height: 54px;
    outline: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.ModalDialog__body__3JijH {
    background-color: #FFF;
}

.ModalDialog__body--padding__2iyc4 {
    padding: 26px 25px;
}

.ModalDialog__footer__3SHmH {
    background-color: #F7F8FA;
    border-radius: 0 0 4px 4px;
}

.ModalDialog__btn-separator__2qaJ0 {
    display: inline-block;
    width: 6px;
}

.ModalDialog__footer-right__1c-gt {
    text-align: right;
    padding: 14px 25px;
    box-sizing: border-box;
}

.Notify__1pdWR {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 18px;
    color: #000;
}

.Notify__1pdWR strong {
    font-weight: bold;
}

.Notify--info__29uEh {
    background-color: #F5F7FA;
    border-color: #BCC8D6;
}

.Notify--error__1ejLu {
    background-color: #FFEFE9;
    border-color: #F2AB99;
}

.Notify--success__36Moe {
    background-color: #EFFAED;
    border-color: #AFD4A9;
}

.PageDialog__2pZiD {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
}

.PageDialog__box__iqE3y {
    padding: 5px 0 5px;
}

.PageDialog__window__1kV6u {
    margin: 0 auto;
    min-width: 150px;
    max-width: 600px;
    position: relative;
}

.PageDialog__window__1kV6u h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 5px;
}

.PageDialog__window__1kV6u p {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
    margin-top: 0;
}

.PageDialog__window__1kV6u hr {
    background-color: #E7E8EC;
    border: none;
    margin: 20px 0;
    height: 1px;
}

.PageDialog__header__aFnkx {
    background-color: #FAFBFC;
    border-radius: 8px 8px 0 0;
    padding: 25px 25px 24px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #E7E8EC;
}

.PageDialog__close__2Qcs4 {
    top: 0;
    right: -50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS40MDQgMTAuMTMyYS45NzcuOTc3IDAgMCAwLS4wMDUgMS40bC4wNy4wNjlhLjk4NS45ODUgMCAwIDAgMS4zOTktLjAwNUw2IDcuMzM2bDQuMTMyIDQuMjZhLjk3Ny45NzcgMCAwIDAgMS40LjAwNWwuMDY5LS4wN2EuOTg1Ljk4NSAwIDAgMC0uMDA1LTEuMzk5TDcuMzM2IDZsNC4yNi00LjEzMmEuOTc3Ljk3NyAwIDAgMCAuMDA1LTEuNEwxMS41My40YS45ODUuOTg1IDAgMCAwLTEuMzk5LjAwNUw2IDQuNjY0IDEuODY4LjQwNWEuOTc3Ljk3NyAwIDAgMC0xLjQtLjAwNUwuNC40N2EuOTg1Ljk4NSAwIDAgMCAuMDA1IDEuMzk5TDQuNjY0IDZsLTQuMjYgNC4xMzJ6IiBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii41Ii8+PC9zdmc+");
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    width: 50px;
    height: 30px;
    background-size: 22px 22px;
    outline: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.PageDialog__body__3cJFS {
    background-color: #FFF;
    border-radius: 8px;
    padding: 25px;
    box-sizing: border-box;
}

.PageDialog__body--header__1YGl- {
    border-radius: 0 0 8px 8px;
}

.PageDialog__footer__3BySO {
    background-color: #F7F8FA;
    border-radius: 0 0 4px 4px;
}

.PageDialog__btn-separator__1EBsA {
    display: inline-block;
    width: 6px;
}

.PageDialog__footer-right__3lz9O {
    text-align: right;
    padding: 14px 25px;
    box-sizing: border-box;
}

.Radio__1q743 {
  display: inline-block;
  user-select: none; }

.Radio__1q743:hover:not(.Radio--mobile__1XHb9) .Radio__input__3pndl:not(:disabled) + .Radio__text__32mDr:before {
    background-color: #F2F4F8; }

.Radio--mobile__1XHb9 .Radio__text__32mDr {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-left: 33px; }

.Radio--mobile__1XHb9 .Radio__text__32mDr:before {
      top: -1px;
      width: 20px;
      height: 20px;
      border-width: 2px; }

.Radio--mobile__1XHb9 .Radio__text__32mDr:after {
      top: 4px;
      left: 5px;
      width: 10px;
      height: 10px; }

.Radio__input__3pndl {
    display: none; }

.Radio__input__3pndl:checked + .Radio__text__32mDr:before {
      border-color: #5181B8; }

.Radio__input__3pndl:checked + .Radio__text__32mDr:after {
      opacity: 1; }

.Radio__input__3pndl:disabled + .Radio__text__32mDr {
      opacity: .45;
      cursor: default; }

.Radio__text__32mDr {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 19px;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    color: #000000; }

.Radio__text__32mDr:before {
      position: absolute;
      top: 1px;
      left: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 50%;
      background-color: #FFFFFF;
      box-sizing: border-box; }

.Radio__text__32mDr:after {
      position: absolute;
      top: 5px;
      left: 4px;
      display: inline-block;
      width: 7px;
      height: 7px;
      content: '';
      opacity: 0;
      border-radius: 50%;
      background-color: #5181B8; }

.Textarea__1GYJG {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
    min-height: 30px;
    max-width: 100%;
    margin: 0;
    padding: 5px 9px 7px;
    outline: none;
    appearance: none;
    color: #000;
    border: 1px solid #d3d9de;
    border-radius: 2px;
    background: #fff;
    box-shadow: none;
    box-sizing: border-box;
    resize: none;
}

.Textarea__1GYJG:disabled {
    opacity: .45;
}

.Textarea__1GYJG::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.Textarea__1GYJG::-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.Textarea__1GYJG:-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.Textarea__1GYJG:-moz-placeholder {
    transition: color 0.2s ease;
    color: #828282;
}

.Textarea__1GYJG:focus:not(.Textarea--mobile__26uEw) {
    border-color: #c9d0d6;
    outline: none;
}

.Textarea__1GYJG:focus:not(.Textarea--mobile__26uEw)::-webkit-input-placeholder {
    transition: color 0.2s ease;
    color: #B8B9BB;
}

.Textarea__1GYJG:focus:not(.Textarea--mobile__26uEw)::-moz-placeholder {
    transition: color 0.2s ease;
    color: #B8B9BB;
}

.Textarea__1GYJG:focus:not(.Textarea--mobile__26uEw):-ms-input-placeholder {
    transition: color 0.2s ease;
    color: #B8B9BB;
}

.Textarea__1GYJG:focus:not(.Textarea--mobile__26uEw):-moz-placeholder {
    transition: color 0.2s ease;
    color: #B8B9BB;
}

.Textarea--mobile__26uEw {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Segoe WP', 'Helvetica Neue', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;
    font-size: 15px;
    height: auto;
    padding: 10px;
    border: 1px solid #CACED4;
    border-radius: 8px;
}

.Textarea--mobile__26uEw::-webkit-input-placeholder {
    transition: none;
    color: #909499;
}

.Textarea--mobile__26uEw::-moz-placeholder {
    transition: none;
    color: #909499;
}

.Textarea--mobile__26uEw:-ms-input-placeholder {
    transition: none;
    color: #909499;
}

.Textarea--mobile__26uEw:-moz-placeholder {
    transition: none;
    color: #909499;
}

.Textarea--mobile__26uEw:focus {
    outline: none;
}

.Textarea--mobile__26uEw:focus::-webkit-input-placeholder {
    color: transparent;
}

.Textarea--mobile__26uEw:focus::-moz-placeholder {
    color: transparent;
}

.Textarea--mobile__26uEw:focus:-ms-input-placeholder {
    color: transparent;
}

.Textarea--mobile__26uEw:focus:-moz-placeholder {
    color: transparent;
}

