@import "../style.scss";

@mixin Button ($color, $bgColor) {
  font-family: $font;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 7px 16px 8px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: $color;
  &:visited {
    color: $color;
  }
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  background-color: $bgColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  &:active:not(.Button--mobile) {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.Button {
  @include Button(#fff, #5181B8);

  &--wide {
    display: block;
    width: 100%;
  }

  &--primary, &--default {
    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #5B88BD;
      }

      &:active {
        background-color: #4872a3;
      }
    }
  }

  &--secondary {
    color: #55677d;
    background-color: #e5ebf1;
    &:visited {
      color: #55677d;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #dfe6ed;
      }
      &:active {
        background-color: #dae2ea;
      }
    }
  }

  &--tertiary, &--transparent {
    color: #2a5885;
    background-color: transparent;

    &:visited {
      color: #2a5885;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {

      &:hover {
        background-color: #e5ebf1;
      }

      &:active {
        background-color: #e5ebf1;
      }
    }
  }

  &--outline {
    color: #2a5885;
    background-color: transparent;
    border: 1px solid #2a5885;
    box-sizing: border-box;
    padding: 6px 16px 7px;

    &:visited {
      color: #2a5885;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #e5ebf1;
      }

      &:active {
        background-color: #e5ebf1;
      }
    }
  }

  &--commerce {
    color: #FFFFFF;
    background-color: #4bb34b;

    &:visited {
      color: #FFFFFF;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #4bbf4b;
      }

      &:active {
        background-color: #4aa94a;
      }
    }
  }

  &--destructive {
    color: #FFFFFF;
    background-color: #e64646;

    &:visited {
      color: #FFFFFF;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #f04848;
      }

      &:active {
        background-color: #dd4646;
      }
    }
  }

  &--loading {
    padding: 8px 16px 7px;
    pointer-events: none;
  }
}
