@mixin Button ($color, $bgColor) {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  display: inline-block;
  margin: 0;
  padding: 7px 16px 8px;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: $color;
  &:visited {
    color: $color;
  }
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  background-color: $bgColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  &:active:not(.Button--mobile) {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }

  &--mobile {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 14px;
    border-radius: 8px;

    &.Button--default:active {
      background-color: #4872a3;
    }

    &.secondary:active {
      background-color: #dae2ea;
    }

    &.Button--transparent {
      color: #306096;

      &:active {
        color: #4872A3;
        background-color: transparent;
      }
    }

    &.Button--loading {
      padding: 9px 16px;
    }

  }
}

.Button {
  @include Button(#fff, #5181b8);

  &--default {
    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #5b88bd;
      }
      &:active {
        background-color: #4872a3;
      }
    }
  }

  &--secondary {
    color: #55677d;
    background-color: #e5ebf1;
    &:visited {
      color: #55677d;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {
      &:hover {
        background-color: #dfe6ed;
      }
      &:active {
        background-color: #dae2ea;
      }
    }
  }

  &--transparent {
    color: #2a5885;
    background-color: transparent;
    &:visited {
      color: #2a5885;
    }

    &:not(:disabled):not(.Button--mobile):not(.Button--loading) {

      &:hover {
        background-color: #e5ebf1;
      }
      &:active {
        background-color: #e5ebf1;
      }
    }
  }

  &--loading {
    padding: 8px 16px 7px;
    pointer-events: none;
  }
}
