.Checkbox {
  display: inline-block;
  user-select: none;

  &:hover:not(.Checkbox--mobile) {
    .Checkbox__input {

      &:not(:disabled) + .Checkbox__text {
        &:before {
          background-color: #F2F4F8;
        }
      }

      &:checked:not(:disabled) + .Checkbox__text {
        &:before {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235B88BD%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        }
      }
    }
  }

  &--mobile {

    .Checkbox__text {
      font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
      font-size: 15px;
      line-height: 20px;

      &:before {
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 14px;
        border-width: 2px;
        //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M7.1277704%2C2%20L16.8722296%2C2%20C18.6552671%2C2%2019.3018396%2C2.18565122%2019.9536914%2C2.53426541%20C20.6055433%2C2.88287959%2021.1171204%2C3.39445674%2021.4657346%2C4.04630859%20C21.8143488%2C4.69816044%2022%2C5.34473292%2022%2C7.1277704%20L22%2C16.8722296%20C22%2C18.6552671%2021.8143488%2C19.3018396%2021.4657346%2C19.9536914%20C21.1171204%2C20.6055433%2020.6055433%2C21.1171204%2019.9536914%2C21.4657346%20C19.3018396%2C21.8143488%2018.6552671%2C22%2016.8722296%2C22%20L7.1277704%2C22%20C5.34473292%2C22%204.69816044%2C21.8143488%204.04630859%2C21.4657346%20C3.39445674%2C21.1171204%202.88287959%2C20.6055433%202.53426541%2C19.9536914%20C2.18565122%2C19.3018396%202%2C18.6552671%202%2C16.8722296%20L2%2C7.1277704%20C2%2C5.34473292%202.18565122%2C4.69816044%202.53426541%2C4.04630859%20C2.88287959%2C3.39445674%203.39445674%2C2.88287959%204.04630859%2C2.53426541%20C4.69816044%2C2.18565122%205.34473292%2C2%207.1277704%2C2%20Z%20M6.5638852%2C4%20C5.67236646%2C4%205.34908022%2C4.09282561%205.0231543%2C4.2671327%20C4.69722837%2C4.4414398%204.4414398%2C4.69722837%204.2671327%2C5.0231543%20C4.09282561%2C5.34908022%204%2C5.67236646%204%2C6.5638852%20L4%2C17.4361148%20C4%2C18.3276335%204.09282561%2C18.6509198%204.2671327%2C18.9768457%20C4.4414398%2C19.3027716%204.69722837%2C19.5585602%205.0231543%2C19.7328673%20C5.34908022%2C19.9071744%205.67236646%2C20%206.5638852%2C20%20L17.4361148%2C20%20C18.3276335%2C20%2018.6509198%2C19.9071744%2018.9768457%2C19.7328673%20C19.3027716%2C19.5585602%2019.5585602%2C19.3027716%2019.7328673%2C18.9768457%20C19.9071744%2C18.6509198%2020%2C18.3276335%2020%2C17.4361148%20L20%2C6.5638852%20C20%2C5.67236646%2019.9071744%2C5.34908022%2019.7328673%2C5.0231543%20C19.5585602%2C4.69722837%2019.3027716%2C4.4414398%2018.9768457%2C4.2671327%20C18.6509198%2C4.09282561%2018.3276335%2C4%2017.4361148%2C4%20L6.5638852%2C4%20Z%22%20id%3D%22path-1%22%3E%3C/path%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Icons-Unsorted/check_box_off_24%22%20transform%3D%22translate%28-2.000000%2C%20-2.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22check_box_off_24%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20id%3D%22Mask%22%20fill%3D%22%23C4C8CC%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat 0;
        //background-size: cover;
      }
    }
  }

  &__input {
    display: none;

    &:checked + .Checkbox__text {
      &:before {
        border: none;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235181B8%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0;
        background-size: cover;
      }
    }

    &:disabled + .Checkbox__text {
      opacity: .45;
      cursor: default;
    }
  }

  &__text {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    color: #000000;
    
    &:before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 2px;
      margin-right: 8px;
      vertical-align: top;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-sizing: border-box;
    }
  }
}
