.Checkbox {
  display: inline-block;
  user-select: none;

  .TooltipDesk__tag {
    margin-top: 1px;
  }

  &:hover:not(.Checkbox--mobile) {
    .Checkbox__input {

      &:not(:disabled) + .Checkbox__text {
        &:before {
          background-color: #F2F4F8;
        }
      }

      &:checked:not(:disabled) + .Checkbox__text {
        &:before {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235B88BD%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        }
      }
    }
  }

  &--mobile {

    .Checkbox__text {
      font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif;
      font-size: 15px;
      line-height: 20px;

      &:before {
        width: 20px;
        height: 20px;
        margin-top: 0;
        margin-right: 14px;
        border: none;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20fill%3D%22%23FFF%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20rx%3D%226%22/%3E%3Cpath%20d%3D%22M5.128%200h9.744c1.783%200%202.43.186%203.082.534.652.349%201.163.86%201.512%201.512.348.652.534%201.299.534%203.082v9.744c0%201.783-.186%202.43-.534%203.082a3.635%203.635%200%200%201-1.512%201.512c-.652.348-1.299.534-3.082.534H5.128c-1.783%200-2.43-.186-3.082-.534a3.635%203.635%200%200%201-1.512-1.512C.186%2017.302%200%2016.655%200%2014.872V5.128c0-1.783.186-2.43.534-3.082A3.635%203.635%200%200%201%202.046.534C2.698.186%203.345%200%205.128%200zm-.564%202c-.892%200-1.215.093-1.54.267a1.81%201.81%200%200%200-.757.756c-.174.326-.267.65-.267%201.54v10.873c0%20.892.093%201.215.267%201.54.174.327.43.583.756.757.326.174.65.267%201.54.267h10.873c.892%200%201.215-.093%201.54-.267a1.81%201.81%200%200%200%20.757-.756c.174-.326.267-.65.267-1.54V4.563c0-.892-.093-1.215-.267-1.54a1.817%201.817%200%200%200-.756-.757c-.326-.174-.65-.267-1.54-.267H4.563L4.564%202z%22%20fill%3D%22%23C4C8CC%22/%3E%3C/g%3E%3C/svg%3E") no-repeat 0;
        background-size: cover;
      }
    }
  }

  &__input {
    display: none;

    &:checked + .Checkbox__text {
      &:before {
        border: none;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%2215%22%20height%3D%2215%22%20fill%3D%22%235181B8%22%20rx%3D%223%22%2F%3E%3Cpath%20stroke%3D%22%23FFF%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0;
        background-size: cover;
      }
    }

    &:disabled + .Checkbox__text {
      opacity: .45;
      cursor: default;
    }
  }

  &__text {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    color: #000000;
    display: flex;

    &:before {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 2px;
      margin-right: 8px;
      vertical-align: top;
      content: '';
      border: 1px solid #C1C9D1;
      border-radius: 3px;
      background-color: #FFFFFF;
      box-sizing: border-box;
    }

    &:empty {
      &:before {
        margin-right: 0;
        margin-top: 0;
        display: block;
      }
    }
  }
}
