@import "../style.scss";

.Link {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #2A5885;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &--left {
    margin-left: 8px;
  }

  &--right {
    margin-right: 8px;
  }

  &:hover:not(:disabled):not(.Link--mobile) {
    text-decoration: underline;
  }

  &:disabled {
    cursor: default;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }
}
